body{ 
  background-image:url(./utils/nube.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed  ;
  background-size: cover;
  display: flex;
  justify-content: center;

}

.container{
  background-color: #C4D7E0;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2em;   
  gap: 0.3em;
}

.container_clouds{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_btn{
  width: 100px;
  height: 50px;
  background-color: #A149FA;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}
b{
 color: #A149FA;
}

li{
  list-style: none;
  color:#A149FA
}

